body {
  background-color: black;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 0.8em;
  line-height: 1em;
  font-family: monospace;
  color: silver;
}

.hide {
  display: none !important;
}

.fill-viewport {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 99vw;
  height: 99vh;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.fill-parent {
  position: relative;
  top: 0%;
  left: 0%;
  width: 99%;
  height: 99%;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.m-0 {
  margin: 0 0 0 0;
}

.p-0 {
  padding: 0 0 0 0;
}

.center {
  display: flex;
  justify-content: center;
}


.tiny-text {
  font-size: 0.6em;
}
