.Sizzy {
  color: orangered;
}

.Izzy {
  color: pink;
}

.Bizzy {
  color: chartreuse;
}

.Vizzy {
  color: paleturquoise;
}

.Qizzy {
  color: darkslategray;
}

.Lizzy {
  color: deeppink;
}

.Dizzy {
  color: darkolivegreen;
}

.Wizzy {
  color: darkblue;
}

.Shizzy {
  color: saddlebrown;
}

.Hizzy {
  color: burlywood;
}

.Fizzy {
  color: indianred;
}
