
.actionbar-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 13px 13px 13px 13px;
  margin-top: 2px;
  margin-right: 8px;
  margin-bottom: 4px;
  padding: 1px 3px 1px 3px;
  min-width: 90px;
}

.actionbar-btn-active-warrior {
  color: red !important;
  border: 1px solid darkred !important;
}

.actionbar-btn-active-healer {
  color: goldenrod !important;
  border: 1px solid darkgoldenrod !important;
}

.actionbar-btn-active-mage {
  color: blue !important;
  border: 1px solid darkblue !important;
}

.actionbar {
  border-bottom: 0px solid white;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 56px;
  padding-top: 6px;
}
