.detail-sheet-content {
  position: fixed;
  top: 10px;
  left: 40px;
  right: 4vw;
  display: flex;
  justify-content: end;
  align-content: end;
  flex-flow: column;
  flex-wrap: nowrap;
  border: 1px solid white;
  margin-bottom: auto;
  padding: 10px 14px 10px 14px;
  font-size: 1.1em;
  line-height: 1.2em;
  border-radius: 13px 13px 13px 13px;
  background-color: black;
}

.detail-sheet-attribute-row {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: flex;
  justify-content: start;
  align-content: start;
  flex-flow: row;
  flex-wrap: nowrap;
}

.detail-sheet-attribute-group {
  width: 88%;
  min-width: 200px;
  display: flex;
  justify-content: start;
  align-content: end;
}

.detail-sheet-attribute-bold {
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: bold;
}

.detail-sheet-attribute-text {
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: normal;
}

.detail-sheet-attribute-text-tiny {
  font-size: 0.7em;
  line-height: 0.8em;
  font-weight: normal;
}

.detail-sheet-attribute-button {
  border: 1px solid white;
  width: 26px;
  height: 26px;
  padding: 0 0 0 0;
  background-color: black;
  border-radius: 13% 13% 13% 13%;
  color: white;
  margin: 2px 2px 2px 2px;
}

.detail-sheet-skills {
  display: flex;
  justify-content: end;
  align-content: end;
  flex-flow: row;
  flex-wrap: wrap;
  border: 1px solid white;
  margin-bottom: auto;
  padding: 10px 14px 10px 14px;
  font-size: 1.1em;
  line-height: 1.2em;
  border-radius: 13px 13px 13px 13px;
}

.detail-sheet-skill {
  font-size: 0.9em;
  padding: 3px 2px 4px 4px;
}

.detail-sheet-skill-edge {
  border-top: 0.5px dotted white;
}

.detail-sheet-skill-active {
  color: indigo;
}
