
.gauge-box {
  font-family: monospace;
  font-size: 0.8em;
  width: 100%;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: start;
  text-align: start;
}


.gauge-label {
  font-weight: bolder;
}

.gauge-outer {
  position: relative;
  width: 98%;
  height: 10px;
  line-height: 10px;
  font-size: 9px;
  padding: 0px 0px 0px 0px;
  overflow: hidden;
  border: 1px solid white;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  border-color: red;
}

.gauge-fill {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  background-color: darkred;
  width: 100%;
  z-index: 1;
}

.gauge-text {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
  z-index: 2;
}
