.nameplate {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-content: start;
  z-index: 3;
  margin-top: 4px;
}

.nameplate-text {
  font-size: 1.1em !important;
  font-weight: bolder !important;
}
