.modal-bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  background-color: black;
  color: gray;
}

.modal-body-lock {
  overflow: hidden !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.modal-hide {
  display: none !important;
}

.modal-content-container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 11000;
  display: flex;
  justify-content: center;
}

.modal-close {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  z-index: 11100;
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 30% 30% 30% 30%;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
