.alert-box {
  position: fixed;
  top: 4vh;
  left: 4vw;
  right: 4vw;
  min-height: 8vh;
  border: 1px solid white;
  border-radius: 13px 13px 13px 13px;
  color: white;
  background-color: black;
  padding: 4px 1px 4px 1px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  z-index: 22000;
}
