.head {
  position: fixed;
  top: 0vh;
  left: 0vw;
  height: 14vh;
  width: 100vw;
  color: orange;
  font-size: 1.1em;
  line-height: 1em;
  font-family: monospace;
  display: flex;
  justify-content: stretch;
  border-bottom: 1px solid orange;
}

.header-info {
  display: flex;
  flex-grow: 1;
  min-width: 200px;
  max-width: 350px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 14px;
  padding-top: 4px;
  justify-content: top;
  align-content: start;
  font-size: 1.3em;
  line-height: 1.3em;
}

.header-spacer {
  flex-grow: 2;
}

.header-controls {
  display: flex;
  flex-grow: 1;
  max-width: 350px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: end;
  align-content: start;
  margin-top: 8px;
  margin-right: 12px;
}

.header-button {
  line-height: 1em;
  font-family: monospace;
  border: 0.5px solid orange;
  color: orange;
  background-color: black;
  width: 86px;
  height: 22px;
  margin-right: 1px;
  margin-top: 2px;
  font-size: 0.8em;
}
