.battle-battlefield {
  position: fixed;
  top: 1vh;
  left: 2vw;
  right: 2vw;
  height: 68vh;
  border: 1px solid white;
  border-radius: 13px 13px 13px 13px;
  color: white;
  /*padding: 4px 1px 1px 6px;*/
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.battle-party-info {
  position: fixed;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-content: start;
  top: 70vh;
  left: 2vw;
  right: 60vw;
  height: 28vh;
  border: 1px solid white;
  border-radius: 13px 13px 13px 13px;
  color: white;
  /*
  padding: 6px 1px 1px 8px;
  */
  padding-left: 10px;
}

.battle-pc-actions {
  position: fixed;
  display: flex;
  justify-content: start;
  align-content: start;
  flex-flow: column;
  flex-wrap: nowrap;
  top: 70vh;
  left: 42vw;
  right: 2vw;
  height: 28vh;
  border: 1px solid white;
  border-radius: 13px 13px 13px 13px;
  color: white;
  
  padding: 0px 8px 0px 8px;
  
}

.battle-enemy {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  color: greenyellow;
  width: 165px;
  font-size: 1.6em;
  min-height: 65px;
  max-height: 65px;
  font-weight: bold;
  overflow: hidden;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.battle-enemy-attack {
  color: darkred !important;
  font-weight: bolder !important;
  font-size: 1.95em !important;
}

.battle-dmg {
  color: red;
  font-size: 1.8em;
  font-weight: bolder;
}

.battle-hide {
  display: none !important;
}

.battle-green {
  color: green !important;
  border-color: green !important;
}

.battle-top-btn {
  font-weight: bolder;
}

.battle-btn {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 13px 13px 13px 13px;
  padding: 4px 6px 4px 6px;
  min-width: 90px;
}


.battle-pc-actionbar {
  display: flex;
  justify-content: start;
  align-content: start;
  flex-flow: row;
  flex-wrap: wrap;
  border: 1px solid white;
  border-radius: 13px 13px 13px 13px;
  color: white;
}

.battle-top-buttons {
  position: fixed;
  top: 14px;
  right: 2vw;
  width: 96vw;
  z-index: 200;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row;
  flex-wrap: nowrap;
}
