.saves-controls {
  position: fixed;
  display: flex;
  flex-flow: row;
  justify-content: end;
  top: 9px;
  right: 9px;
}

.saves-controls button {
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-right: 3px;
  border-radius: 13px 13px 13px 13px;
  min-width: 90px;
}

.saves-view {
  position: fixed;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: end;
  text-align: center;
  top: 42px;
  right: 9px;
  max-width: 98vw;
  padding: 3px 3px 3px 3px;
  overflow-y: scroll;
}

.save-slot {
  margin-bottom: 4px;
  max-width: 200px;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 8px 8px 8px 8px;
  border-radius: 13px 13px 13px 13px;
  margin-right: 6px;
}

.save-header {
  font-weight: bold;
  margin-bottom: 4px;
  display: flex;
  flex-flow: column;
  justify-content: start;
  text-align: start;
  flex-wrap: wrap;
}

.save-about {
  display: flex;
  flex-flow: column;
  justify-content: start;
  text-align: start;
  flex-wrap: nowrap;
  margin-bottom: 4px;
}

.save-buttons button {
  background-color: black;
  color: white;
  border: 1px solid white;
  margin-right: 3px;
  border-radius: 13px 13px 13px 13px;
  min-width: 60px;
}

.save-buttons {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: end;
}
